<div class="flex flex-col items-center gap-1 sm:gap-2">

  @if (hasUpload) {
    <!-- Bestandsnaam -->
    <p class="text-xs text-white max-w-[160px] truncate text-center"
       [title]="fileName ?? 'Tekst toegevoegd'">
      {{ fileName ?? 'Tekst toegevoegd' }}
    </p>

    <!-- Wijzig-knop -->
    @if (!isSaved) {
      <button
        class="px-3 py-1.5 rounded-lg bg-white text-black text-xs font-semibold shadow-sm cursor-pointer"
        (click)="onUploadClick($event)"
      >
        Wijzig {{ label.toLowerCase() }}
      </button>
    }
  } @else {
    <!-- Upload-knop -->
    <button
        [ngClass]="compact 
          ? 'px-2 py-1.5' 
          : 'px-2 py-3 sm:px-3 sm:py-1.5'"
        class="rounded-lg bg-white text-black text-xs font-semibold shadow-sm cursor-pointer whitespace-nowrap "
        (click)="onUploadClick($event)"
      >
        Upload {{ label }}
      </button>
  }

</div>
